@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('/assets/fonts/AkzidenzGrotesk/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/AkzidenzGrotesk/akzidenzgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body{
    font-family: 'Akzidenz Grotesk';
    background-attachment: fixed;
    background-color: white;
    padding: 0;
    margin: 0;
}
img{
width: 100vw;
height:auto;
left: 0;
padding:0;
margin:0;
display: block;
}

img.last-image{
    margin-bottom: 0;
}

div.info-tab{
width: 100vw;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: row;
padding: 1%;
z-index: 100;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15pt;
    mix-blend-mode: exclusion;
}
.image-container {
    position: relative;
    width: 80vw; /* Adjust the width as needed */
    overflow: hidden;
    left: 10vw;
    margin-bottom: 10vh;
  }
  
  .scroll-wrapper {
    display: flex; 
    transition: transform 0.5s ease-in-out;
  }
  
  .scroll-wrapper img {
    width: 80vw; /* Each image should take up the full container width */
    height: auto; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  /* Styles for the scroll button */
  .scroll-button {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: arrow_back;
  }
  
  .scroll-button.right {
    right: 0;
  }
 
  .scroll-button.left {
    left: 0;
  }

  .scroll-button.left:hover {
    cursor: url('assets/arrow_back_39dp_000000_FILL0_wght100_GRAD0_opsz40.svg'), auto; /* Replace with your left arrow image */
  }
  
  /* Change cursor to right arrow on right button hover */
  .scroll-button.right:hover {
    cursor: url('assets/arrow_forward_39dp_000000_FILL0_wght100_GRAD0_opsz40.svg'), auto; /* Replace with your right arrow image */
  }
@keyframes effect {
    0% {
        color: black;
        }
  
    100% {
       color: rgb(11, 119, 190);
    }
  }
  a:hover{
    text-decoration: none;
    animation: effect 0.15s linear;
    animation-fill-mode:forwards;
  }
  
div.tab{
    width: 30vw;
}

div#info{
    position: relative;
    margin-left: 55%;
    width: 40%;
    margin-bottom: 10vh;
}

div#time{
width: auto;
right: 5vw;
bottom: 5vh;
position: fixed;
}

p{
    color: rgb(0, 0, 0);
    z-index: 1000;
    font-size: 15pt;
}

.images{
  margin-bottom: 10vh;
}
img#gif{
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
    div.info-tab{
        padding: 3%;
        }
    a{
      font-size: 12pt;
    }
    p{
        font-size: 12pt;
    }
    div#info{
        position: relative;
        margin-left: 3%;
        margin-top: 10vh;
        width: 80%;
        margin-bottom: 10vh;
    }
    .image-container{
      display: none;
    }
    img#gif{
      visibility: visible;
    }
  }
  