@font-face {
    font-family: 'Zen Kurenaido';
    src: url('assets/font/Zen/ZenKurenaido-Regular.woff2') format('woff2'),
        url('assets/font/Zen/ZenKurenaido-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Shippori Mincho';
    src: url('assets/font/Shippori/ShipporiMincho-Regular.woff2') format('woff2'),
        url('assets/font/Shippori/ShipporiMincho-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shippori Mincho';
    src: url('ShipporiMincho-SemiBold.woff2') format('woff2'),
        url('ShipporiMincho-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Shippori Mincho';
    src: url('ShipporiMincho-Medium.woff2') format('woff2'),
        url('ShipporiMincho-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Shippori Mincho';
    src: url('ShipporiMincho-Bold.woff2') format('woff2'),
        url('ShipporiMincho-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shippori Mincho';
    src: url('ShipporiMincho-ExtraBold.woff2') format('woff2'),
        url('ShipporiMincho-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body{
    margin:0;
    background-color: white;    
    font-family: 'Shippori Mincho';
    font-size: 20pt;
    color:black;
    overflow-y: scroll;
    
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    text-align: center;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Zen Kurenaido';
}

a:hover{
    color:rgb(192, 206, 228);
}


#title-video{
    margin:0;
    padding:0;
    position: absolute;
    top:0;
    left:0;
    z-index: -99;
    width: 100%;
    height:100%;
}
#tracklisting{
    display: flex;
    flex-direction: row;
}

ul{
    list-style-type: none;}

.big-container{
    overflow-y: scroll;
    padding:0;
    margin:0;
}


#left-container{
    width:55vw;
    height:2000px;
    margin-left: 8vw;
    margin:0;
}
#right-container{
    width:55vw;
    height:3000px;
    z-index: -10;
    position: absolute;
    right:0;
    top:0;
}

#container-1{
    float: right;
}
#lyrics-container{
    float: right;
}

#cover{
    width:30vw;
    height:auto;
}
#album-name{
    position:absolute;
    left:18vw;
    top:0px;
    color:white;
}

#left-container::-webkit-scrollbar {
    display: none;
}
#right-container::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}

#information{
    display: flex;
    flex-direction: row;
    position: fixed;
    right:0vw;
    top:100px;
}
#arrow-1{
    position: fixed;
    left:8vw;
    top:70vh;
}

/*For mobile*/

@media only screen and (max-width: 768px) {
    #left-container{
        width:100vw;
        height:8000px;
        margin-left: 8vw;
        margin:0;
    }
    #information{
        display: flex;
        flex-direction: row;
        position: fixed;
        right:0vw;
        top:100px;
        color:white;
        font-size: 10pt;
    }
    #album-name{
        position:absolute;
        left:1vw;
        top:0px;
        color:black;
    }
    #tracklisting{
        font-size: 15pt;
    }
    #container-1{
        float: left;
    }
    #left-container img{
        width:100vw;
    }
    #cover{
        visibility: hidden;
    }
}