@font-face {
  font-family: "CirrusCumulus";
  src: url("assets/font/CirrusCumulus.woff2") format("woff2"),
    url("assets/font/CirrusCumulus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: CirrusCumulus;
  margin: 0;
}

p {
  font-size: 50pt;
  margin-top: 0;
}

#sub-title {
  font-size: 20pt;
}

img {
  height: 100vh;
  margin-top: 40px;
  margin-left: 10%;
}

#fog {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

#fog:hover {
  z-index: -99;
}
