@font-face {
  font-family: "CirrusCumulus";
  src: url("assets/font/CirrusCumulus.woff2") format("woff2"),
    url("assets/font/CirrusCumulus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: CirrusCumulus;
  margin: 0;
  width:10000px;
  height:5000px;
  margin-left:5%;
}
body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 20pt;
  margin-top: 0;
}

#sub-title {
  font-size: 20pt;
}

img {
  position:absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
}

div:hover > img{
  z-index: -99;
}

#fog {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

#fog:hover {
  z-index: -99;
}


.text{
  width: 1000px;
  height:auto;
  display:inline-block;
  margin-bottom:6%;
  margin-right: 6%;
  position: relative;
}



/*navigation buttons*/
.bt{
  width:80px;
  height:80px;
  position: fixed;
  background-image: url("assets/images/polygon.svg");
  border: none;
  background-color: transparent;
}
#button-up{
  top:0;
  left:50vw;
}
#button-down{
  bottom:0;
  left:50vw;
}
#button-left{
  top:50vh;
  left:0;
}
#button-right{
  top:50vh;
  right:0;
}

#button-lu{
  top:0;
  left:0;
}

#button-ld{
  bottom:0;
  left:0;
}

#button-ru{
  top:0;
  right:0;
}

#button-rd{
  bottom:0;
  right:0;
}

#navigation-bar{
  position: fixed;
  top:0;
  left:50px;
  width:20vw;
  height:100vh;
  display: flex;
}