body{
    font-family: 'Lustria';
    background-attachment: fixed;
    background-color: white;
    padding: 0;
    margin: 0;
}
img{
width: 100vw;
height:auto;
left: 0;
padding:0;
margin:0;
margin-bottom: 20vh;
}

img.last-image{
    margin-bottom: 0;
}

div.info-tab{
width: 100vw;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: row;
padding: 1%;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20pt;
    mix-blend-mode: exclusion;
}
a:hover{
    text-decoration: none;
    color:rgb(11, 119, 190);
  }

div.tab{
    width: 30vw;
}

div#info{
    position: relative;
    margin-top: 10vh;
    margin-left: 1%;
}

div#time{
width: auto;
right: 5vw;
bottom: 5vh;
position: fixed;
}

p{
    color: rgb(0, 0, 0);
    z-index: 1000;
    font-size: 20pt;
}