@font-face {
  font-family: "PicNic";
  src: url("assets/PicNic-Regular.woff2") format("woff2"),
    url("assets/PicNic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Latitude";
  src: url("assets/Latitude-Regular.woff2") format("woff2"),
    url("assets/Latitude-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(32, 65, 18);
  color: rgb(240, 183, 183);
  margin: 10vw;
}

.question {
  font-size: 40pt;
  font-family: "Latitude";
}
.question:hover {
  text-decoration: line-through;
}
.answer {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
}

#Q-5-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "PicNic";
  position: sticky;
  top: 1vh;
}
div#position {
  position: fixed;
  right: 0;
  top: 0;
}
div#position:hover {
  background-color: rgb(240, 183, 183);
  color: rgb(32, 65, 18);
}

div#columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p.flex-column {
  height: 70px;
}
p.flex-column:hover {
  background-color: rgb(240, 183, 183);
  color: rgb(32, 65, 18);
}

a {
  color: rgb(240, 183, 183);
}

@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(240, 183, 183);
    color: rgb(32, 65, 18);
    margin: 5vw;
  }
  .question {
    font-size: 20pt;
  }
  .answer {
    font-size: 12pt;
  }
  
  div#position:hover {
    background-color: rgb(32, 65, 18);
    color: rgb(240, 183, 183);
  }
  a {
    color: rgb(32, 65, 18);
  }
}
