body{
    margin:0;
    width:100cw;
    height:9000px;
}
main{
    display: flex;
    flex-direction: row;
}
img{
    width:300px;
    height:auto;
    opacity: 30%;
}
img:hover{
    opacity: 100%;
}

div#head, div#body, div#hands, div#feet{
width:30vw;
}

div#static{
    margin-right: 5%;
}

img#body-bkg{
    height: 9000px;
    width: auto;
    position: absolute;
    left:-1900px;
    z-index: -99;
    opacity: 100%;
}